body,li,ul,div {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
	font-family: "Helvetica Neue For Number", -apple-system, system-ui, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clearfloat {
    clear: both;
}

/*bottom button*/
#Bottombutton {
  width: 100%;
  height: 120px;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0px;
  background-color: white;
}
.bottombutton {
  width: 50%;
  height: 120px;
  float: left;
}
.bottombutton img {
  width: 110px;
  height: 110px;
  position: relative;
  left: 50%;
  top: 5px;
  margin-left: -55px;
}

/*family*/
#home {
    display: block;
}
#Family {
  width: 100%;
  padding-bottom: 15px;
  background-color: #E9E8E8;
}
#Family img {
    width: 100%;
}
#fl {
  margin: 0px 20px;
}
#family {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black;
}
#familyLeft {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  
}
#familyRight {
  float: right;
  height: 60px;
  line-height: 60px; 
  font-size: 25px;
  color: #2885F0;
}

.familyPart {
  width: 100%;
  height: 130px;
  display: flex;
}
.familyPart img {
  height: 110px;
  width: 110px;
  float: left;
  margin: 10px 15px;
}
.familyname {
  float: left;
  flex: 1;
  height: 110px;
  margin-top: 20px;
  border-bottom: 1px solid grey;
}
.nameTop {
  font-size: 40px;
}
.nameContent {
  font-size: 30px;
}
.ageInformation {
  float: right;
  margin-top: 15px;
}
.age {
  color: red;
  font-size: 30px;
}
.agenum {
  font-size: 25px;
}

/*oneself*/
#oneself {
    display: none;
}
#backgroundImg {
  height: 300px;
  padding-bottom: 15px;
  background-color: rgba(235, 230, 230, 0.95) ;
}
#backgroundImg img{
  width: 100%;
  height: 300px;
  display: flex;
}
#oneselfName {
  height:155px;
  position: relative;
  bottom: 220px;
}
#oneselfName img {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 100%;
  z-index: 1;
}
#oneselfName div {
  height: 35px;
  line-height: 35px;
  font-size: 30px;
  margin: auto;
  text-align: center;
}
#serves {
  margin: 0px 20px;
  background-color: rgba(235, 230, 230, 0.95) ;
  
}
#myserve {
  border-bottom: 1px solid black;
  background-color: white;
}
#myserveleft {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  float: left;
}
#myserveright {
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  float: right;
}
#myserveUl {
  width: 100%;
  height: 350px;
  background-color: rgba(252, 232, 236, 0.83);
  margin-bottom:15px; 
}
#myIndent {
  border-bottom: 1px solid black;
  background-color: white;
}
#myIndentleft {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  float: left;
}
#myIndentright {
  height: 60px;
  line-height: 60px;
  font-size: 25px;
 float: right;
}
#mystate {
  height: 90px;
  width: 100%;
  background-color: white;
}
.state {
  width: 50%;
  height: 90px;
  line-height: 90px;
  font-size: 70px;
  float: left;
}
.state img {
  height: 70px;
  width: 70px;
  padding: 10px;
  float: left;
}
.right img {
  border-left: 1px solid black;
}
.statecontext {
  float: left;
}